html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --black: #000000;
    --blackLevelUm: #181823;
    --purple: #5221E6;
    --purple2: #553299;
    --grey: #9C9C9C;
}

body {
    background-color: var(--black);
    font-family: 'Inter', sans-serif;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: white;
}

ul {
    list-style: none;
}

/* Header Area */

.pageTitle {
    padding: 32px 72px;
}

#header__navigation {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1920px;
    position: relative;
    padding-top: 0;
}

#header__navigation_ul {
    display: flex;
    padding-right: 48px;
}

#header__navigation a {
    display: inline-block;
    padding: 32px 24px;

}

#header__navigation li {
    transition: all .5s ease-in-out;
}

#header__navigation li:hover {
    background-color: var(--purple);
}

#header__navigation li:last-child {
    background-color: var(--purple);
    font-weight: 700;
}


/* Hero Section */

#hero-section {
    position: relative;
}

#hero-section__title {
    line-height: 1.3;
    font-size: 3.625rem;
    color: white;
    margin: 0;
}

#hero-section__title strong {
    color: var(--purple)
}

.hero-area-content,
.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 80px);
    grid-gap: 24px;
    align-items: center;
}

.hero-area-content .programming-guy-img {
    grid-column: 1/6;
    animation: squareAnimationLeft 2s;
}

.hero-area-title {
    grid-column: 8 / 15;
}

.hero-area-rect {
    position: absolute;
    top: -100px;
    left: 420px;
    z-index: -1;
    animation: squareAnimationRight 2s;
}

.hero-area-title p {
    margin-top: 30px;
    color: #9C9C9C;
    font-weight: 700;
}

.hero-btn {
    color: white;
    background-color: var(--purple2);
    display: inline-block;
    font-size: 14px;
    padding: 16px 35px;
    text-align: center;
    border-radius: 40px;
    margin-top: 20px;
    transition: all .5s;
}


.hero-btn:hover {
    background-color: var(--purple)
}

/* Sobre mim */

.label {
    margin-top: 100px;
    color: rgba(255, 255, 255, .5);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
}

#sobre-mim-section {
    padding: 20px 72px 160px;
    margin-top: 45px;
}

.sobre-mim-content img {
    grid-column: 2 / 7;
}

.sobre-mim-content-text {
    color: white;
    grid-column: 7 / 13;
    font-size: 19px;
    line-height: 40px;
    ;
}

/* tecnologias area */

.section-tecnologia-label {
    margin: 20px 0;
    color: rgba(255, 255, 255, 0.5);
}

#tecnologias-section {
    padding: 20px 72px;
}

#tecnologia_title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 50px;
    color: white;
}

.card-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.card {
    margin-bottom: 40px;
    min-width: 250px;
    border: 2px solid var(--purple);
    border-radius: 30px;
}

/* Projects area */

#projects {
    background-color: white;
    padding: 70px 72px 150px;
}

.projects_title {
    text-align: center;
    color: black;
    margin: 0;
    padding-bottom: 40px;
}

.projects_title::after {
    content: "";
    display: block;
    height: 3px;
    border-radius: 2px;
    width: 130px;
    margin: 15px auto 0;
    background-color: var(--blackLevelUm);
}

/* .project-card{
    width:300px;
    height:440px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border:3px solid grey;
    border-radius:38px;
} */


.project-card a {
    font-weight: 700;
    background: linear-gradient(#602EEF, #36226F);
    display: inline-block;
    padding: 15px 30px;
    border-radius: 25px;
}

.card-content {
    margin-top: 40px;
    text-align: center;
}

.card-content h4 {
    color: rgba(0, 0, 0, .8);
    margin-top: 30px;
}

.card-content p {
    text-align: center;
    font-weight: 700;
    font-size: 13px;
    margin-top: 20px;
    color: rgba(0, 0, 0, .4)
}

.card-content-button {
    display: inline-block;
    background-color: var(--purple2);
    padding: 15px 70px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 700;
    margin-top: 40px;
    transition: background 1s;
}

.card-content-button:hover {
    background: var(--purple);
}

.card-area-projetos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* footer */

#footer {
    background-color: white;
    text-align: center;
    padding: 30px 0;
}

#footer a {
    color: var(--purple2);
    font-weight: 700;
}

/* Contatos area */

#contatos {
    padding: 20px 72px;
}

.contato-content {
    width: 99%;
}

.form-title {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1.5px;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.form-btn {
    background-color: #602EEF;
    color: white;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    border: 0;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.5px;
}

/* footer */

.icons-list {
    display: flex;
    justify-content: center;
}

.icons-list a {
    padding: 0 5px;
    margin: 0 5px;
}

.icon {
    font-size: 30px;
}

#instagram {
    color: #E1306C;

}

#github {
    color: black;

}

#linkedin {
    color: #0077b5;
}

#twitter {
    color: #1DA1F2;
}


/* CSS animation */

@keyframes squareAnimationLeft {
    from {
        transform: translateX(-25%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes squareAnimationRight {
    from {
        transform: translateY(-25%);
    }

    to {
        transform: translateY(0);
    }
}

/* Media Queris */

@media screen and (max-width:1040px) {
    .hero-area-rect {
        left: 323px;
        top: -95px;
        width: 700px;
    }

    .programming-guy-img {
        grid-column: 1 / 5;
    }

    .hero-area-title {
        grid-column: 6 / 11;
        margin-left: 15px;
    }
}

@media screen and (max-width:775px) {
    .hero-area-rect {
        left: 75px;
        top: -95px;
    }

    .hero-area-content {
        display: flex;
    }

    .programming-guy-img {
        width: 50%;
    }

    .hero-area-title {
        margin-left: 15px;
    }

    #hero-section__title {
        font-size: 40px;
    }

    .card-area-projetos {
        justify-content: center;
    }
}

@media screen and (max-width:455px) {

    .label {
        text-align: center;
    }

    .hero-area-rect {
        display: none;
    }

    .hero-area-title{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .programming-guy-img {
        display: none;
        width: 0;
        height: 0;
        overflow: hidden;
    }

    .hero-area-content {
        margin-top:100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }



    #tecnologia_title{
        text-align:center;
    }

    .card-area {
        justify-content: center;
    }
}